**/__pycache__
.dockerignore
venv
Dockerfile
SETTINGS.py
mynexus*.py
test*.py
rules.yaml
*.yaml
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
